<article class="ui attached segment card dream-card inverted">
  <a class="image" href="{{ .Permalink }}">
    {{ if isset .Params "cover" }}
      <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
    {{ else }}
      <img src="/img/default{{ index (shuffle (seq 1 4)) 0 }}.jpg" alt="{{ .Title }}" />
    {{ end }}
  </a>

  <div class="content">
    <h2 class="ui medium header">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="meta">
      <p class="date">
        {{- if eq .Site.Language.Lang "zh" -}}
          {{ index .Site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
        {{- else if eq .Site.Language.Lang "es" -}}
          {{ index .Site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
        {{- else -}}
          {{ .Date.Format "Monday, Jan 2, 2006" }}
        {{- end -}}
      </p>
    </div>
    <div class="description">
      {{ .Summary | emojify | safeHTML }}
    </div>
  </div>

  <div class="extra content">
    {{ if isset .Params "tags" }}
      {{ $colour := .Site.Params.tagcolour }}
      {{ range $tag := .Params.tags }}
        <a class="ui label {{ $colour }}" href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">{{ $tag }}</a>
      {{ end }}
    {{ else }}
        <a class="ui label">{{ i18n "noTag" }}</a>
    {{ end }}
  </div>
</article>
