{{ with .paginator }}
{{ if .HasNext }}
<div class="content">
    <div class="ui medium">
        <a href="{{ .Next.URL }}" title="{{ i18n "nextPage" }}">
            <i class="arrow alternate circle right outline icon"></i> {{ i18n "nextPage" }}
        </a>
    </div>
</div>
{{ end }}

{{ if .HasPrev }}
<div class="content">
    <div class="ui medium">
        <a href="{{ .Prev.URL }}" title="{{ i18n "prevPage" }}">
            <i class="arrow alternate circle left outline icon"></i> {{ i18n "prevPage" }}
        </a>
    </div>
</div>
{{ end }}
{{ end }}
